.container {
	padding-top: 50px;
	left: 50%;
	max-width: 600px !important;
}

.map {
	height: auto;
	max-width: 100%;
	margin: auto;
	display: block;
}

.row {
	padding-left: 10%;
	padding-right: 10%;
}

.radio {
	margin-top: 15px !important;
}

.btnQuestion {
	margin-top: 40px;
}

label {
	font-size: 1.1em;
}

p {
	font-size: 0.9em;
}

#language {
	margin: auto;
	text-align: center;
}

#language select {
	width: 100px;
	margin: auto;
}

h1 {
	padding-bottom: 10px;
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 20px;
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
}

#questionEn {
	visibility: hidden;
}

#questionDe {
	visibility: hidden;
}

#extraInfoEn {
	visibility: hidden;
}

#extraInfoDe {
	visibility: hidden;
}